/* Universal */
* {
  margin: 0;
  padding: 0;
}
/* common style start */
#indexHeading {
  text-align: center;
  text-decoration: underline;
  margin-top: 10px;
  text-transform: uppercase;
}
.division {
  width: 600px;
  height: 300px;
  margin: 15px;
  background-color: #bfa8a8;
}

.content {
  padding: 15px 27px;
  text-align: justify;
  font-size: 18px;
  color: aliceblue;
}
.contheading {
  padding-top: 15px;
  padding-left: 25px;
  color: aliceblue;
  text-align: center;
}

/* common style end */

div.static {
  border: 1px solid black;
  background-color: #6e7457;
  padding: 10px;
  font-size: 20px;
  margin: 15px 25px;
}

div.relative {
  width: 250px;
  height: 210px;
  position: relative;
  top: 15px;
  left: 40px;
  border: 1px solid black;
  background-color: #2d4549;
}

.absRelative {
  position: relative;
  width: 450px;
  height: 250px;
  top: 5px;
  left: 30px;
  background-color: #cec1c1;
  border: 1px solid black;
}

.absolute {
  position: absolute;
  top: 23px;
  left: 100px;
  width: 250px;
  height: 200px;
  background-color: #d17d7d;
}

.fixed {
  position: fixed;
  bottom: 0px;
  right: 900px;
  width: 200px;
  height: 50px;
  background-color: #d17d7d;
}
.sticky {
  position: sticky;
  top: 0;
  right: 35px;
  height: 120px;
  background-color: #d17d7d;
}
